<template>
  <el-menu class="menu-right" style="text-align: left">
    <el-menu-item>
      <el-link>Contact</el-link>
      <span style="float: right"
        ><i class="el-icon-video-camera"></i><i class="el-icon-search"></i
      ></span>
    </el-menu-item>
    <el-menu-item
      v-for="(value, index) in users"
      :key="index"
      @click="showChatPops(value)"
    >
      <el-badge is-dot class="item">
        <el-avatar icon="el-icon-user-solid"></el-avatar>
      </el-badge>
      <span class="title-span">{{ value.name }}</span>
    </el-menu-item>
    <Chat v-if="visible"/>
  </el-menu>
</template>

<script>
import Chat from "../chat";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      visible: false,
      user: {},
    };
  },
  computed: mapGetters({
    users: "users/getAllUsers",
    getUserById: "users/getUserById",
  }),
  components: {
    Chat,
  },
  methods: {
    showChatPops(user) {
      this.visible = true;
    },
    hideChatPops(msg) {
      this.visible = msg;
    },
  },
};
</script>

<style>
span.title-span {
  padding-left: 10px;
}
.el-badge__content.el-badge__content--undefined.is-fixed.is-dot {
  background-color: #67c23a !important;
}
</style>