<template>
  <div>
    <el-card shadow="always" class="create-post">
      <el-row :gutter="20" style="margin: 20px 0">
        <el-col :span="2" :xs="4">
          <el-avatar
            style="margin-top: -7px"
            :size="50"
            src="https://lh3.googleusercontent.com/ogw/ADGmqu-Gy8CqpSuvmtte9evH-DJ9-lowo3E78ld-0flMJw=s83-c-mo"
          ></el-avatar>
        </el-col>
        <el-col :span="22" :xs="20">
          <el-button
            @click="createPost()"
            style="width: 100%; border: none; padding: 0"
          >
            <el-input
              placeholder="what's your mind ?"
              v-on:keyup="createPost()"
              suffix-icon="el-icon-edit"
              v-model="input"
            >
            </el-input>
          </el-button>
        </el-col>
      </el-row>
      <el-row :gutter="20" class="row-posts" style="margin-bottom: 20px">
        <!-- <el-col :span="8">
          <i class="el-icon-video-camera-solid" @click="createPost()"></i>
          <span class="title" @click="createPost()">Live Video</span>
        </el-col> -->
        <el-col :span="8">
          <i class="el-icon-picture" @click="createPost()"></i>
          <span class="title" @click="createPost()">Photo/Video</span>
        </el-col>
        <!-- <el-col :span="8" @click="createPost()">
          <i class="el-icon-potato-strips" @click="createPost()"></i>
          <span class="title" @click="createPost()">Feeling/Activity</span>
        </el-col> -->
      </el-row>
    </el-card>
    <el-dialog
      :visible.sync="dialogVisible"
      width="50%"
      :before-close="handleClose"
      title="Tạo 1 bài đăng mới"
      class="dialog-create"
    >
      <el-row>
        <el-col :span="2">
          <el-avatar
            style=""
            :size="30"
            src="https://lh3.googleusercontent.com/ogw/ADGmqu-Gy8CqpSuvmtte9evH-DJ9-lowo3E78ld-0flMJw=s83-c-mo"
          ></el-avatar>
        </el-col>
        <el-col :span="6" style="text-align: left; text-indent: 18px">
          <b>Sangpt</b>
          <el-select
            v-model="value"
            placeholder="Select"
            class="select-create-posts"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-col>
      </el-row>
      <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 6 }"
        suffix-icon="el-icon-edit"
        placeholder="What's on your mind, Sang ?"
        v-model="title"
      >
      </el-input>
      <i
        @click="showIcon()"
        class="hu5pjgll bixrwtb6 sp_MOgjR2grmN0 sx_48b668"
      ></i>
      <VEmojiPicker @input="title" @select="selectEmoji" v-if="iconVisible" />
      <el-upload
        class="upload-demo"
        ref="upload"
        action="http://localhost:4000/posts"
        :auto-upload="false"
        :limit="3"
        :on-change="handleChange"
        :file-list="fileList"
        list-type="picture-card"
        name="images"
      >
        <i class="el-icon-picture"></i>
        <span class="title">Photo/Video</span>
      </el-upload>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Đóng</el-button>
        <el-button type="primary" @click="submitUpload(user && user)">Đăng bài</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { VEmojiPicker } from "v-emoji-picker";
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      dialogVisible: false,
      iconVisible: false,
      title: "",
      input: "",
      content: "",
      fileList: [],
      options: [
        {
          value: "Public",
          label: "Public",
        },
        {
          value: "Friends",
          label: "Friends",
        },
      ],
      value: "public",
    };
  },
  components: {
    VEmojiPicker,
  },
  computed: {
    ...mapGetters({user :"loggedInUser"}),
  },
  methods: {
    ...mapActions({
      add: "posts/createPosts", // map `this.add()` to `this.$store.dispatch('increment')`
    }),
    handleChange(file, fileList) {
      this.fileList = fileList.slice(-3);
    },
    showIcon() {
      this.iconVisible = !this.iconVisible;
    },
    submitUpload(user) {
      // this.$refs.upload.submit();
      console.log(user.id)
      this.add({
        data: {
          title: this.title,
          user: user.id,
          images: this.fileList,
        },
      });
      this.dialogVisible = false;
      // window.location.href = "/";
    },
    createPost() {
      this.dialogVisible = true;
    },
    handleClose(done) {
      this.$confirm("Bạn có chắc chắn muốn đóng !")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },
    selectEmoji(emoji) {
      this.title += emoji.data;
    },
  },
};
</script>
<style>
.sp_MOgjR2grmN0 {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/WkvGMo0t-Xg.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-position-y: -134px;
  float: right;
  padding: 5px;
  cursor: pointer;
}
hr {
  border: 1px solid #80808021;
}
.select-create-posts .el-input__inner {
  height: 20px;
  margin: 10px 0;
  background: aliceblue;
  width: 90px;
}
.emoji-picker {
  width: 100% !important;
  border-radius: 0 !important;
  --ep-color-bg: none !important;
  float: right;
  margin-top: 4px;
  background: white !important;
  z-index: 9;
  margin-bottom: 10px;
}
.el-input__inner {
  border-radius: 5px !important;
  margin-bottom: 10px;
  margin-left: 5px;
}
.dialog-create .el-textarea__inner {
  border: none !important;
  margin: 25px 0;
  resize: none;
}
.el-main {
  line-height: 10px;
}
.create-post {
  margin-bottom: 30px;
}
.row-posts i {
  color: #f56c6c;
  font-size: 29px;
  padding-top: 10px;
  transform: translateY(6px);
  cursor: pointer;
}
.row-posts i.el-icon-picture {
  color: #1dab8c;
}
.row-posts i.el-icon-potato-strips {
  color: sandybrown;
}
.row-posts span.title {
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
}
.row-posts span.title:hover {
  color: black;
}
.upload-demo {
  text-align: left;
  padding: 15px 0;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 100% !important;
  height: auto !important;
}
.el-dialog__body {
  height: 300px;
  overflow-y: scroll;
}
.el-dialog__title {
  font-weight: bold;
}
</style>