<template>
  <div class="block">
    <el-timeline>
      <el-timeline-item
        v-for="(post, index) in posts"
        :key="index"
        :timestamp="post.createdAt"
        placement="top"
      >
        <el-card class="post">
          <el-avatar
            style="transform: translateY(8px)"
            :size="25"
            :src="post.user.picture"
          ></el-avatar>
          <NuxtLink to="/" class="customer-posts">{{ post.user.name }}</NuxtLink>
          <p style="line-height: 35px; text-align: justify">
            {{ post.title }}
          </p>
          <p>{{ post.content }}</p>
          <el-image
            class="images-posts"
            v-for="(image, index) in post.images"
            :key="index"
            :src="image"
          ></el-image>
          <el-collapse>
            <el-card shadow="hover">
              <el-row>
                <el-col :lg="8" class="text-lg-center">
                  <svg
                    aria-label="Thích"
                    class="_8-yf5"
                    fill="#ed4956"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <!-- fill="#262626" -->
                    <!-- <path
                      d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
                    ></path> -->
                    <path
                      d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
                    ></path>
                  </svg>
                  <span class="number-like">40</span>
                </el-col>
                <el-col :lg="24" class="text-lg-center list-comment">
                  <div
                    class="item"
                    v-for="(comment, index) in post.comments"
                    :key="index"
                  >
                    <p class="pr">
                      <el-link type="success">{{ comment.user.name }}</el-link>
                      <el-link type="info">{{ comment.content }}</el-link>
                    </p>
                    <!-- <p class="cl" style="text-indent: 8px;">
                      <el-link type="success">sangpt :</el-link>
                      <el-link type="info">hay hay</el-link>
                    </p> -->
                  </div>
                </el-col>

                <el-col :lg="24" class="text-lg-center input-comment">
                  <el-form>
                    <el-input
                      v-on:keyup.13="submit"
                      placeholder="Thêm bình luận"
                      v-model="text_comment"
                    ></el-input>
                    <el-button
                      type="primary"
                      @click="submit(user && user, post._id)"
                      >Gửi</el-button
                    >
                  </el-form>
                </el-col>
              </el-row>
            </el-card>
          </el-collapse>
        </el-card>
      </el-timeline-item>
    </el-timeline>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      count: 10,
      loading: false,
      text_comment: "",
    };
  },
  created() {
    this.$store.dispatch("posts/loadData"); // dispatch loading
  },
  computed: mapGetters({
    posts: "posts/get_all",
    user :"loggedInUser",
  }),
  methods: {
    ...mapActions({
      add: "comments/createComments",
    }),
    submit(user, post_id) {
      this.add({
        data: {
          user: user.id,
          content: this.text_comment,
          post : post_id,
        },
      });
    },
  },
};
</script>
<style>
span.number-like {
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: -1px;
  left: 25px;
}
.input-comment input {
  border: none;
  margin-left: 0;
  padding: 0;
}
.list-item {
  margin: 5px 0;
}
.el-image {
  height: auto;
  width: 100%;
}
.post .el-row {
  box-sizing: border-box;
  line-height: 25px;
  text-align: left;
}
.post {
  text-align: left;
}
.customer-posts {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
/* .images-posts {
  height: 500px;
}
.images-posts img {
  height: auto;
} */
</style>