<template>
  <el-container>
    <el-row>
      <el-col :sm="24">
        <!-- <Story /> -->
        <CreatePost />
        <ListPost />
      </el-col>
    </el-row>
  </el-container>
</template>
<script>
import Story from "../components/home/story/story";
import CreatePost from "../components/home/post/create_post";
import ListPost from "../components/home/post/list_post";

export default {
  // middleware: 'notAuthenticated',
  middleware: ['authenticated'],
  data() {
    return {
      visible: true,
    };
  },
  components: {
    Story,
    CreatePost,
    ListPost,
  },
   methods: {
  }
};
</script>