<template>
  <div>
    <el-container>
      <Header />
    </el-container>
    <el-container>
      <el-main class="main-layout">
        <el-row>
          <el-col :lg="6" :sm="24" style="margin: 50px auto; margin-top: 0">
            <MenuLeft />
          </el-col>
          <el-col :lg="12" :sm="24">
            <Nuxt />
          </el-col>
          <el-col :lg="6" :sm="24">
            <ListUsersActive />
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>
<script>
import Header from "../components/common/header/header";
import MenuLeft from "../components/common/menu/menu-left";
import ListUsersActive from "../components/common/menu/list-users-active";

export default {
  middleware: 'authenticated',
  components: {
    Header,
    MenuLeft,
    ListUsersActive,
  },
};
</script>