<template>
  <div>
    <el-container>
      <Header />
    </el-container>
    <el-container>
      <el-main class="main-layout">
        <el-row>
          <el-col :lg="6" :sm="24" style="margin: 50px auto; margin-top: 0;text-align: left;">
             <el-menu>
                <el-menu-item>Option 1</el-menu-item>
                <el-menu-item>Option 2</el-menu-item>
            </el-menu>
          </el-col>
          <el-col :lg="18" :sm="24">
            <Nuxt />
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>
<script>
import Header from "../components/common/header/header";

export default {
  components: {
    Header,
  },
};
</script>